<!----------------------------------------------------------------------------------
* File Name   : bbc.cls
* Description : Visualforce page to display the results of the bbc class callout.
* Author      : Akhil Anil
* CreatedDate : 03-06-2018
------------------------------------------------------------------------------------>

<apex:page controller="bbc">   
    <apex:pageBlock title="BBC Top 10 most read news">        
        <apex:pageMessages />        
        <apex:form >            
            <apex:commandButton action="{!fetchdata}" value="Fetch News"/>            
        </apex:form>        
        <apex:pageBlockTable value="{!results}" var="res">            
            <apex:column >
                <apex:outputText style="font-style:Bold" value="{!res}" escape="false" />
            </apex:column>
        </apex:pageBlockTable>        
    </apex:pageBlock>    
</apex:page>