<apex:page controller="testfieldCreation">
  <apex:form >
  <apex:pageBlock id="hello1">
     <apex:commandButton value="Create field" action="{!createField}"/>
  </apex:pageBlock>
  <apex:pageBlock id="hello2">
  </apex:pageBlock>
  </apex:form>
</apex:page>